/* ==============================
   Tablet
============================== */

@media (min-width: 768px) {

    /* Navigation */

    .nav-toggle {
        display: none;
    }

    .nav-menu {
        position: static;

        display: flex;
        flex-direction: row;

        align-items: center;

        gap: 1.5rem;

        padding: 0;

        border: none;
    }

    .nav-menu a {
        padding: 0;
    }


    /* About */

    .about-content {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }
}


/* ==============================
   Desktop
============================== */

@media (min-width: 1024px) {

    section {
        padding: 7rem 0;
    }

    .nav-menu {
        gap: 2rem;
    }
}